@font-face {
  font-display: swap;
  font-family: PT Sans Caption Bold;
  src: local('PT-Sans-Caption-Bold'), url('../../fonts/PTSans-CaptionBold.woff2') format('woff2'),
    url('../../fonts/PTSans-CaptionBold.woff') format('woff'),
    url('../../fonts/PTSansCaption-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: PT Sans Caption;
  src: local('PT-Sans-Caption-Regular'), url('../../fonts/PTSans-Caption.woff2') format('woff2'),
    url('../../fonts/PTSans-Caption.woff') format('woff'),
    url('../../fonts/PTSansCaption-Regular.ttf') format('truetype');
  font-weight: 400;
}

body {
  font-family: 'PT Sans Caption';
  letter-spacing: -0.015em;
  color: #383838;
}

.basket {
  font-family: 'PT Sans Caption';
  color: #383838;
  letter-spacing: -0.015em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

header {
  font-family: 'PT Sans Caption';
}

/* HEADER */

.header_first_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  background-color: #f9f9fa;
  border: 1px solid #f5f5f5;
}

.addres_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1319px) {
  .addres_flex.second_part {
    width: 100%;
  }
}

.addres_header {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.addres_link_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 76.19%;
  /* identical to box height, or 11px */
  letter-spacing: -0.015em;
  color: #545151;
  opacity: 0.5;
}

.work_time {
  display: none;
}

@media screen and (min-width: 1320px) {
  .work_time {
    display: block;
  }
  .list_link_item:not(:last-child) {
    margin-right: 30px;
  }
}

.work_time {
  margin: 0;
}

.contact_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back_call_btn {
  display: block;
  color: red;
  cursor: pointer;
}

.icon_search {
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-right: 45px;
}

.back_call_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ec1e22;
  margin: 0;
}

@media screen and (min-width: 1320px) {
  .back_call_btn {
    margin-right: 25px;
  }
}

.tel_link {
  display: none;
}

@media screen and (min-width: 1320px) {
  .tel_link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #383838;
  }
}

.header_icon_svg {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.market_icon_item:not(:last-child) {
  margin-right: 30px;
}

.header_second_part {
  border: 1px solid #f5f5f5;
  height: 75px;
}

.mobl_menu_btn {
  display: none;
}

.header_mobl {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1319px) {
  .header_mobl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
  .mobl_menu_btn {
    display: block;
    width: 47px;
    height: 43px;
    border: 1px solid #383838;
    border-radius: 5px;
    background-color: unset;
    padding: 0;
    padding-top: 5px;
    margin-right: 28px;
    cursor: pointer;
  }
}

/* .logo{
    display: none;
} */
.logo {
  margin-right: 19px;
  width: 135px;
  cursor: pointer;
}

@media screen and (min-width: 1320px) {
  .logo {
    width: 156px;
  }
  .logo_titel {
    margin-right: 75px;
  }
}

@media screen and (max-width: 1319px) {
  .logo_titel {
    display: none;
  }
}

.logo_titel_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 95.69%;
  letter-spacing: -0.015em;
  color: #545151;
  opacity: 0.5;
}

.header_menu {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1319px) {
  .header_menu {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 73px;
    left: 0;
    border-top: 1px solid #d0cfcf;
  }
}

@media screen and (min-width: 1320px) {
  .header_menu {
    display: block;
  }
  .header_menu_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 80px;
    padding: 0;
    z-index: 1;
  }
  .menu_item:not(:last-child) {
    margin-right: 40px;
  }
  .menu_item {
    position: relative;
  }
}

.main_menu {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 10px 0;
  color: #383838;
}

.main_menu:hover,
.main_menu:focus {
  color: #ec1e22;
}

.market_icon_item {
  position: relative;
  cursor: pointer;
}

.red_notification {
  position: absolute;
}

.red_notification.active {
  top: -7px;
  left: -7px;
  width: 21px;
  height: 21px;
  border-radius: 11px;
  background-color: #ec1e22;
  margin: 0;
  color: white;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header_first_part,
  .addres_flex .logo {
    display: none;
  }

  .header_second_part {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }

  .header_icon_svg {
    justify-content: space-evenly;
  }

  .menu-options-prodact {
    width: 100%;
  }
}

/* header mobile */
.red_mobile_menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .logo_mobile {
    width: 88px;
    margin-right: 90px;
  }
  .red_mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #ec1e22;
    position: relative;
    height: 55px;
    border-bottom: 1px solid #d0cfcf;
  }
  .mobl_menu_btn_white {
    width: 29px;
    height: 29px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
  }
  .icon_search_mobl {
    width: 22px;
    height: 22px;
    margin-right: 12px;
  }
  .back_call_btn_red {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  .navigation-menu {
    /* display: none; */
    position: absolute;
    width: 100%;
    top: 55px;
    left: 0;
    z-index: 1;
    background: #ffffff;
  }
  .header_menu_list_mobl {
    margin: 0 0 143px 0;
  }
  .navigation-menu {
    display: none;
  }
  .addres_header_mobl {
    margin-bottom: 40px;
  }
  .addres_link_text {
    padding: 0 15px 0 15px;
  }
  .header_icon_svg {
    height: 60px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 1px 0px 17px rgba(56, 56, 56, 0.06);
    box-shadow: 1px 0px 17px rgba(56, 56, 56, 0.06);
  }
  /* sub menu mobile */
}

.red_arrow_menu {
  width: 11px;
}

@media screen and (max-width: 1319px) {
  .red_arrow_menu {
    display: none;
  }
  .menu_item_mobl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #d0cfcf;
    padding: 0 15px 0 15px;
    position: relative;
  }
  .main_menu_mobl {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 85.69%;
    /* or 15px */
    letter-spacing: -0.015em;
    color: #383838;
    cursor: pointer;
  }
  .main_menu_mobl.arrow::after {
    content: url(../img/svg/black_arrow.svg);
    position: absolute;
    top: 16px;
    right: 15px;
    width: 18px;
    height: 9px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1320px) {
  .container {
    width: 1350px;
  }
}

.titel_page {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 36px 0 16px 0;
}

.breadcrumbs {
  display: none;
}

.prod-action {
  display: none;
}

@media screen and (min-width: 768px) {
  .breadcrumbs {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #545151;
    opacity: 0.5;
    margin: 36px 0 34px 0;
  }
  .prod-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 16px;
  }
  .prod-action .print_btn,
  .prod-action .clean_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 166px;
    height: 40px;
    background-color: unset;
    border: 1px solid #d0cfcf;
    border-radius: 1px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.015em;
    color: #383838;
    cursor: pointer;
  }
  .prod-action .print_btn:not(:last-child) {
    margin-right: 18px;
  }
  .prod-action .print_btn:hover,
  .prod-action .print_btn:focus,
  .prod-action .clean_btn:hover,
  .prod-action .clean_btn:focus {
    color: #ec1e22;
    border: 1px solid #ec1e22;
  }
  .prod-action .print_btn:active,
  .prod-action .clean_btn:active {
    background-color: #ec1e22;
    color: #fff;
  }
  .prod-action .print_btn:hover > .print_icon {
    background-image: url(../img/svg/ptint_red.svg);
  }
  .prod-action .print_btn:active > .print_icon {
    background-image: url(../img/svg/print_white.svg);
  }
  .prod-action .clean_btn:hover > .clean_icon {
    background-image: url(../img/svg/cross_red.svg);
  }
  .prod-action .clean_btn:active > .clean_icon {
    background-image: url(../img/svg/cross_white.svg);
  }
  .prod-action .print_icon {
    width: 22px;
    height: 22px;
    background-image: url(../img/svg/print.svg);
    margin-right: 16px;
  }
  .prod-action .clean_icon {
    width: 18px;
    height: 18px;
    background-image: url(../img/svg/cross_black.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 16px;
  }
}

.prod_count_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #383838;
  border-radius: 3px;
  margin: 0;
}

.prod_count_btn.disabled {
  border: 1px solid #d0cfcf;
}

.prod_count_btn .btn-count {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 33%;
  height: 100%;
  color: #d0cfcf;
}

.prod_count_btn.disabled > .btn-count {
  color: #d0cfcf;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prod_count_btn .minus {
  font-size: 18px;
  line-height: 15px;
  font-weight: 900;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prod_count_btn .minus::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 70%;
  border-right: 1px solid #383838;
}

.prod_count_btn .plus {
  font-size: 18px;
  line-height: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prod_count_btn .plus::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 70%;
  border-left: 1px solid #383838;
}

.prod_count_btn .count {
  font-family: 'Graphik LCG';
  width: 33%;
  height: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  color: #383838;
}

.prod_count_btn.disabled > .minus,
.prod_count_btn.disabled > .plus {
  cursor: default;
}

.prod_count_btn.disabled > .minus::after,
.prod_count_btn.disabled > .plus::after {
  border: 1px solid #d0cfcf;
}

@media screen and (min-width: 768px) {
  .prod_count_btn {
    width: 94px;
    height: 40px;
  }
}

@media screen and (min-width: 1319px) {
  .breadcrumbs {
    margin: 25px 0 34px 0;
  }

  .prod_count_btn {
    width: 110px;
    height: 44px;
  }
}

.promocode_text {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
}

.promocode_input {
  width: 100%;
  height: 42px;
  border: 1px solid #d0cfcf;
  border-radius: 1px;
  text-align: center;
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #383838;
  margin-bottom: 13px;
}

.promocode_input:focus {
  border: 1px solid #d0cfcf;
}

.promocode_button {
  width: 100%;
  height: 42px;
  border: 1px solid #ec1e22;
  border-radius: 1px;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 45px;
  cursor: pointer;
}

.promocode_button:hover,
.promocode_button:focus {
  color: #fff;
  background-color: #ec1e22;
}

.basket-final-price .final-price {
  border: none;
  height: 0;
  padding: 5px;
}

.basket-final-price .final-price-options {
  margin: 0;
}

.basket-checkout-link {
  text-decoration: none;
  display: block;
  width: 288px;
  height: 42px;
  background: #ec1e22;
  border: 1px solid #ec1e22;
  border-radius: 1px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* стили страницы order */
.main-title-page {
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
  margin: 36px 0 51px 0;
}

.title_block {
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  margin: 0 0 21px 0;
}

.buyer_block {
  font-weight: 400;
  font-size: 14px;
}

.data_buyer_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 28px;
}

.form_radio {
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .main-title-page {
    font-size: 30px;
    line-height: 26px;
    margin: 34px 0 61px 0;
  }

  .title_block {
    margin: 0;
    border: 1px solid #d0cfcf;
    border-bottom: none;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 17px;
    font-weight: 700;
    font-size: 22px;
    line-height: 19px;
  }

  .buyer_block {
    border: 1px solid #d0cfcf;
    padding: 23px 10px;
    margin-bottom: 48px;
    font-size: 16px;
  }

  .data_buyer_type {
    display: inline-block;
  }

  .form_radio {
    display: inline-block;
    margin: 0;
  }

  .form_radio:not(:last-child) {
    margin-right: 45px;
  }
}

.form_radio .radio_btn[type='radio'] {
  display: none;
}

.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 17px;
  margin-right: 0;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  line-height: 15px;
}

.form_radio label:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/svg/radio/radio-1.svg) 0 0 no-repeat;
}

/* Checked */
.form_radio .radio_btn[type='radio']:checked + label:before {
  background: url(../img/svg/radio/radio-2.svg) 0 0 no-repeat;
}

.data_buyer_person {
  max-width: 400px;
  margin-bottom: 50px;
}

.input_name {
  display: block;
  font-size: 16px;
  line-height: 14px;
  margin-bottom: 10px;
}

.form_fiel:not(:last-child) {
  margin-bottom: 15px;
}

.form_input {
  width: 288px;
  height: 42px;
  border: 1px solid #d0cfcf;
  border-radius: 1px;
}

.delivery_form {
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .form_input {
    width: 395px;
  }

  .form_radio label {
    font-size: 16px;
    line-height: 18px;
  }

  .form_fiel:not(:last-child) {
    margin-bottom: 25px;
  }
  .form_radio label:before {
    width: 16px;
    height: 16px;
    top: 3px;
  }
  .delivery_form {
    margin-bottom: 24px;
  }
  .how_payment {
    border: 1px solid #d0cfcf;
    height: 65px;
    padding: 23px 11px;
    margin-bottom: 48px;
  }
}

.delivery_terms {
  margin-right: auto;
  margin-left: auto;
  width: 288px;
  height: 264px;
  border: 1px solid #d0cfcf;
  border-radius: 1px;
  margin-bottom: 50px;
  padding: 20px 9px;
}

.delivery_terms .titel {
  font-size: 16px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 23px;
}

.delivery_terms .option {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
}

.delivery_terms .mb_2 {
  margin-bottom: 20px;
}

.final-price {
  min-width: 288px;
  height: 153px;
  border: 1px solid #d0cfcf;
  border-radius: 1px;
  margin-bottom: 31px;
  padding: 14px 10px 45px 10px;
}

.final-price-options_prod_number,
.final-price-options_prod_rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.015em;
  margin: 0;
  margin-bottom: 10px;
}

.final-price-options_prod_number .number,
.final-price-options_prod_rate .number {
  margin-left: 21px;
}

.final-price-options_prod_number .rate,
.final-price-options_prod_rate .rate {
  margin-left: 26px;
}

.final-price-options {
  margin-bottom: 34px;
}

.final-price-item-both_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.final-price-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'PT Sans Caption';
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.final-price-items_price {
  font-weight: 700;
  font-size: 26px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 10px;
}

.final-price-items_old_price {
  font-size: 26px;
  line-height: 22px;
  text-decoration: line-through;
  color: #d0cfcf;
  margin: 0;
}

.polici_block {
  margin-bottom: 20px;
  padding: 0 20px;
}

.polici_block .polici {
  font-size: 12px;
  line-height: 13px;
  color: #383838;
  opacity: 0.6;
}

.polici_block input[type='checkbox'] {
  display: none;
}

.polici_block label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-right: 0;
  line-height: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.polici_block label:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 16px;
  position: absolute;
  left: -20px;
  top: 0;
  background: url(../img/svg/radio/checkbox_1.svg) 0 0 no-repeat;
}

/* Checked */
.polici_block input[type='checkbox']:checked + label:before {
  background: url(../img/svg/radio/checkbox_2.svg) 0 0 no-repeat;
}

@media screen and (min-width: 480px) {
  .delivery_terms {
    width: 387px;
    height: 247px;
    margin: 0;
    padding: 20px 12px;
  }

  .final-price {
    padding: 23px 16px;
  }

  .final-price-items {
    flex-direction: inherit;
    align-items: baseline;
  }

  .final-price-items_price {
    margin-right: 19px;
    margin-bottom: 0;
  }
}

.our_order {
  margin-bottom: 50px;
}
.our_order .checkout.disabled {
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}
.our_order .checkout {
  pointer-events: inherit;
  cursor: pointer;
  opacity: 1;
  width: 186px;
  height: 42px;
}
.polici_block label:before {
  width: 18px;
  height: 18px;
  top: -2px;
  left: -26px;
}
.polici_block {
  padding: 0 26px;
}
.polici_block .polici {
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 768px) {
  .basket-final-price .final-price-items {
    flex-direction: column;
    align-items: flex-end;
  }

  .basket-final-price .final-price-items_price {
    margin-right: 0;
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 1320px) {
  .title_block {
    height: 69px;
    padding: 22px 19px;
    font-weight: 700;
    font-size: 26px;
    line-height: 22px;
  }

  .form_radio label {
    font-size: 18px;
    line-height: 20px;
  }

  .main-title-page {
    font-size: 34px;
    line-height: 29px;
  }

  .delivery_terms {
    width: 429px;
    height: 267px;
  }
  .our_order {
    margin-bottom: 100px;
  }
  .our_order .checkout {
    width: 224px;
    height: 48px;
  }

  .buyer_block {
    padding: 23px 19px;
  }
}

/* .basket-final-price */

.basket-final-price .final-price-options_prod_number {
  display: none;
}

.basket-final-price .final-price {
  margin-bottom: 70px;
}

.submit-form-button .checkout {
  width: 288px;
  height: 42px;
  background-color: #ec1e22;
  border: none;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
}

.prod_number {
  display: none;
}

.promocode_input {
  outline: 1px solid #d0cfcf;
}

@media screen and (min-width: 480px) {
  .basket-final-price .final-price-options_prod_number {
    display: block;
  }

  .basket-final-price .final-price-options_prod_number .number {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .prod_order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 150px;
  }
  .market_icons {
    display: none;
  }
  .promocode_input {
    width: 185px;
    height: 42px;
    text-align: left;
    border: 1px solid #d0cfcf;
    margin-right: 22px;
    padding-left: 14px;
  }
  .centre .checkout {
    width: 224px;
    height: 48px;
  }
  .promocode_button {
    margin: 0;
    width: 156px;
    height: 42px;
  }
  .prod_number {
    display: block;
    margin: 0 0 23px 0;
    text-align: right;
  }

  .basket-final-price .final-price-item-both_price {
    display: block;
  }

  .basket-final-price .final-price-options {
    text-align: right;
    margin-bottom: 23px;
  }

  .basket-final-price .final-price {
    height: auto;
    margin-bottom: 19px;
  }

  .basket-final-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .basket-checkout-link {
    width: 186px;
    height: 42px;
    line-height: 14px;
  }

  .final-price-items_price,
  .final-price-items_old_price {
    font-size: 28px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .basket-final-price .final-price {
    display: flex;
  }

  .basket-final-price .final-price-options_prod_number {
    margin-right: 42px;
    font-size: 22px;
    line-height: 19px;
    margin-bottom: 0;
  }

  .basket-final-price .final-price-items_price,
  .basket-final-price .final-price-items_old_price {
    font-size: 34px;
    line-height: 29px;
  }

  .basket-checkout-link {
    width: 224px;
    height: 48px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1320px) {
  .promocode_input {
    width: 312px;
    height: 48px;
    margin-right: 24px;
    padding-left: 16px;
  }

  .promocode_button {
    margin: 0;
    width: 200px;
    height: 48px;
  }

  .final_price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .prod_number {
    margin-right: 42px;
  }
}

/* Checked */

.form_fiel:not(:last-child) {
  margin-bottom: 15px;
}

.form_input {
  width: 288px;
  height: 42px;
  border: 1px solid #d0cfcf;
  border-radius: 1px;
}

@media screen and (min-width: 768px) {
  .form_input {
    width: 395px;
  }
  .form_fiel:not(:last-child) {
    margin-bottom: 25px;
  }
}

.polici_block {
  margin-bottom: 20px;
  padding: 0 20px;
}

.polici_block .polici {
  font-size: 12px;
  line-height: 13px;
  color: #383838;
  opacity: 0.6;
}

.polici_block input[type='checkbox'] {
  display: none;
}

.polici_block label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-right: 0;
  line-height: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.polici_block label:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 16px;
  position: absolute;
  left: -20px;
  top: 0;
  background: url(../img/svg/radio/checkbox_1.svg) 0 0 no-repeat;
}

/* Checked */
.polici_block input[type='checkbox']:checked + label:before {
  background: url(../img/svg/radio/checkbox_2.svg) 0 0 no-repeat;
}

@media screen and (min-width: 768px) {
  .polici_block label:before {
    width: 18px;
    height: 18px;
    top: -2px;
    left: -26px;
  }
  .polici_block {
    padding: 0 26px;
  }
  .polici_block .polici {
    font-size: 14px;
    line-height: 17px;
  }
}

.red {
  color: red;
}

.login_form {
  display: none;
}

.login_form .form_input {
  width: 100%;
  margin-top: 30px;
}

.form_fiel {
  position: relative;
}

.input_login,
.input_password {
  position: absolute;
  top: 0;
  left: 0;
}

.reminder {
  display: none;
}

.reminder.enter_error {
  display: inline-block;
  position: absolute;
  top: -2px;
  right: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.015em;
  color: red;
}

.form_input_error:focus-visible {
  outline: 1px solid red;
}

.save_password {
  position: relative;
}

.save_password.polici_block label:before {
  left: -26px;
  top: 2px;
}

.forgot_pass {
  position: absolute;
  right: 0;
  top: 0;
}

.pass_link {
  font-weight: bold;
  font-size: 15px;
  color: red;
}

.login_btn {
  width: 77px;
  height: 36px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 2px;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  /* 1 */
  text-transform: none;
}

button,
[type='button'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type='checkbox'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*# sourceMappingURL=main_basket.css.map */

/* Стили женя */

.products {
  margin-bottom: 53px;
}

.products-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #383838;
}

.products__column {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0cfcf;
  border-right: none;
}

.roducts__column.products__options {
  display: flex;
}

.products__column.products__name {
  width: 672px;
}

.products__column.products__sale {
  width: 129px;
  border-right: 1px solid #d0cfcf;
}

.products__column.products__price {
  width: 172px;
  border-right: 1px solid #d0cfcf;
}

.products__column.products__quantity {
  width: 176px;
  border-right: 1px solid #d0cfcf;
}

.products__column.products__amount {
  width: 171px;
  border-right: 1px solid #d0cfcf;
}

/* карта товара */
.products-item {
  position: relative;
  border: 1px solid #d0cfcf;
  border-top: none;
  box-sizing: border-box;
}

.products-item-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 238px;
}

.products-item-inner__info {
  padding-left: 14px;
  width: 672px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-item-inner__options {
  display: flex;
  margin-bottom: 70px;
}

.products-item-inner__sale {
  font-size: 22px;
  width: 129px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-item-inner__price {
  font-size: 22px;
  width: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-item-inner__quantity {
  width: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-item-inner__amount {
  font-size: 22px;
  font-weight: 700;
  width: 171px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-item-inner__img {
  min-width: 248px;
  max-width: 248px;
  height: 186px;
}

.products-item-inner__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.products-item-inner__name {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #383838;

  margin: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.products-item-inner__setting {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.products-item-inner__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  padding-left: 20px;
}

.products-item-remove {
  position: absolute;
  top: 20px;
  right: 14px;
  cursor: pointer;
}

.products-item-inner__sale-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products-item-inner__sale-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products-item-inner__price.old-price,
.products-item-inner__old-amount {
  font-size: 22px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #d0cfcf;
  text-decoration: line-through;
}

.products-item-inner__sale-price .products-item-inner__price:not(:last-child),
.products-item-inner__sale-amount .products-item-inner__amount:not(:last-child) {
  margin-bottom: 13px;
}

.products-item-inner__info-right {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

.products-item-inner__sale-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discount-product .products-item-inner__img {
  position: relative;
}

.discount-product .products-item-inner__img::before {
  content: '-26%';
  position: absolute;
  left: 0;
  top: 0;
  background: #ec1e22;
  width: 93px;
  height: 46px;
  color: #fff;
  font-size: 22px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-item-inner__setting_sale {
  display: none;
}

/* promocode and total */
.products__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin: 44px 0 150px;
}

.products__info_promo,
.products__info_total {
  width: 50%;
}

.products__info_promo {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 5px;
}

.promo-title {
  margin: 0 0 20px 0;
  font-size: 22px;
}

.promo-input {
  padding: 16px;
  margin-right: 24px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 15px;
  width: 312px;
  height: 48px;
  border: 1px solid #d0cfcf;
  border-radius: 1px;
}

.promo-inpu:focus {
  border: 1px solid #d0cfcf;
}

input:focus,
textarea:focus {
  outline: 0;
}

.promo-input.eror {
  background: rgba(236, 30, 34, 0.04);
  border: 1px solid #ec1e22;
  box-sizing: border-box;
  border-radius: 1px;
}

.promo-btn {
  cursor: pointer;
  font-size: 18px;
  line-height: 15px;
  padding: 14px 30px;
  height: 48px;
  border: 1px solid #ec1e22;
  box-sizing: border-box;
  border-radius: 1px;
  background: transparent;
  transition: all 0.3s ease;
}

.promo-btn:active {
  background: #ec1e22;
  border: 1px solid #ec1e22;
  box-sizing: border-box;
  border-radius: 1px;
  color: #fff;
}

.products__info_total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.summary-info {
  display: flex;
  align-items: baseline;
  margin-bottom: 28px;
}

.total-price-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quantity-price {
  font-size: 22px;
  line-height: 85.69%;
  letter-spacing: -0.015em;
  color: #383838;
  margin-right: 24px;
}

.total-price {
  font-weight: 700;
  font-size: 34px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #383838;
  margin-bottom: 14px;
}

.old-price {
  font-size: 34px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #d0cfcf;
  text-decoration: line-through;
}

.product-order {
  background: #ec1e22;
  border: 1px solid #ec1e22;
  box-sizing: border-box;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
  padding: 16px 37px;

  font-size: 18px;
  line-height: 15px;
}

@media screen and (max-width: 1349px) {
  .products-item-inner,
  .products-header {
    width: 100%;
  }

  .products-item-inner__info,
  .products__column.products__name {
    width: 35%;
  }

  .products-item-inner__options,
  .roducts__column.products__options {
    width: 65%;
  }

  .products__column.products__sale,
  .products__column.products__price,
  .products__column.products__quantity,
  .products__column.products__amount {
    width: 100%;
  }

  .products-item-inner__sale,
  .products-item-inner__price,
  .products-item-inner__quantity,
  .products-item-inner__amount {
    width: 100%;
  }

  .products-item-inner__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding-left: 5px;
  }

  .products-item-inner__img {
    min-width: 141px;
    max-width: 141px;
    height: 106px;
  }

  .products-item-inner__name {
    font-size: 18px;
  }

  .products-item-inner__setting {
    font-size: 14px;
  }

  .discount-product .products-item-inner__info-right {
    width: 100%;
  }

  .products-item-inner__sale-price,
  .products-item-inner__sale-amount {
    width: 100%;
  }

  .discount-product .products-item-inner__img::before {
    width: 54px;
    height: 27px;
    font-size: 14px;
  }

  .products-item-inner__name {
    -webkit-line-clamp: 3;
  }

  .discount-product .products-item-inner__options {
    margin-bottom: 50px;
  }

  .products-item-inner__sale,
  .products-item-inner__price,
  .products-item-inner__quantity,
  .products-item-inner__amount,
  .products-item-inner__price.old-price,
  .products-item-inner__old-amount {
    font-size: 18px;
  }

  /* promocode and total */
  .promo-title {
    font-size: 18px;
  }

  .summary-info {
    flex-direction: column;
    align-items: flex-end;
  }
  .quantity-price {
    font-size: 18px;
    margin-right: 0;
  }

  .total-price {
    font-size: 28px;
    line-height: 24px;
  }

  .total-price-wrap {
    margin: 23px 0 19px;
  }

  .old-price {
    font-size: 28px;
    line-height: 24px;
  }

  .summary-info {
    margin-bottom: 19px;
  }

  .promo-input {
    width: 185px;
    height: 42px;
    margin-right: 22px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promo-btn {
    height: 42px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promo-btn-wrap {
    display: flex;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1349px) {
  .products__info {
    margin: 44px 0 150px;
  }
}

@media screen and (max-width: 1025px) {
  .products-item-inner__info {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 11px;
  }

  .products-item-inner__title {
    padding: 0;
    margin-top: 14px;
  }

  .products-item-remove svg {
    width: 16px;
    height: 16px;
  }

  .products-item-inner__setting {
    margin: 8px 0 0;
  }

  .products-item-inner__name {
    -webkit-line-clamp: 2;
  }

  /* promocode and total */
  .promo-input {
    width: 185px;
    height: 42px;
    margin-right: 22px;
  }
}

@media screen and (min-width: 767px) {
  .products__info {
    margin: 53px 0 126px;
  }
}

@media screen and (max-width: 767px) {
  .products-header {
    display: none;
  }

  .products-item {
    border: 1px solid #d0cfcf;
    border-bottom: none;
  }

  .products-item:last-child {
    border: 1px solid #d0cfcf;
  }

  .products-item-inner__setting_sale {
    display: block;
  }

  .products-item-inner__img {
    min-width: 126px;
    max-width: 126px;
    height: 113px;
  }

  .products-item-inner__sale,
  .products-item-inner__price,
  .products-item-inner__price.old-price,
  .products-item-inner__sale-price {
    display: none;
  }

  .products-item-inner {
    height: auto;
    padding: 12px;
  }

  .products-item-inner__info,
  .products__column.products__name {
    width: 50%;
  }

  .products-item-inner__options,
  .roducts__column.products__options {
    width: 50%;
  }

  /* promocode and total */
  .products__info {
    flex-direction: column;
  }

  .products__info_promo,
  .products__info_total {
    width: 100%;
  }

  .promo-btn-wrap {
    flex-direction: column;
    width: 100%;
  }

  .promo-input,
  .promo-btn {
    width: 100%;
    margin-right: 0;
  }

  .promo-input {
    margin-bottom: 13px;
  }
  .promo-title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .promo-btn-wrap {
    margin-bottom: 45px;
  }

  .products__info_total,
  .summary-info {
    align-items: flex-start;
  }

  .promo-input::placeholder {
    text-align: center;
  }

  .promo-input::-webkit-input-placeholder {
    text-align: center;
  }

  .promo-input:-moz-placeholder {
    text-align: center;
  }

  .promo-input::-moz-placeholder {
    text-align: center;
  }

  .promo-input:-ms-input-placeholder {
    text-align: center;
  }

  .quantity-price {
    display: none;
  }

  .products__info {
    margin: 40px 0 120px;
  }

  .product-order {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .products-item:not(:last-child) {
    margin-bottom: 24px;
    border-bottom: 1px solid #d0cfcf;
  }

  .products-item-inner {
    flex-direction: column;
    width: 100%;
    padding: 14px;
  }

  .products-item-inner__info,
  .products-item-inner__options {
    width: 100%;
    padding-left: 0;
  }

  .products-item-inner__title {
    margin-top: 15px;
  }

  .products-item-inner__setting {
    margin: 3px 0 0;
  }

  .products-item-inner__options {
    margin: 23px 0 11px;
    justify-content: space-between;
    align-items: center;
  }

  .products-item-inner__quantity,
  .products-item-inner__amount,
  .products-item-inner__sale-amount {
    width: auto;
  }

  .products-item-inner__info-right {
    justify-content: space-between;
    align-items: center;
  }

  .discount-product .products-item-inner__options {
    margin-bottom: 0;
  }

  .products-item-inner__name {
    line-height: 20px;
    font-size: 16px;
  }

  .products-item-inner__sale-amount .products-item-inner__amount:not(:last-child) {
    margin-bottom: 6px;
  }
}

/* 
@media screen and (max-width: 480px)
@media screen and (max-width: 375px) */
