.red {
  color: red;
}

.login_form {
  display: none;

  & .form_input {
    width: 100%;
    margin-top: 30px;
  }
}

.login_form.login {
  display: block;
  width: 500px;
  height: 300px;
  background-color: #fff;
  padding: 15px 27px;
  border: 1px solid black;
  box-shadow: 1px 0px 17px rgba(56, 56, 56, 0.06);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.form_fiel {
  position: relative;
}

.input_login,
.input_password {
  position: absolute;
  top: 0;
  left: 0;
}

.reminder {
  display: none;
}

.reminder.enter_error {
  display: inline-block;
  position: absolute;
  top: -2px;
  right: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  letter-spacing: -0.015em;
  color: red;
}

.form_input_error {
  background-color: rgba(255, 0, 0, 0.05);
  &:focus-visible {
    outline: 1px solid red;
  }
}

.save_password {
  position: relative;
}

.save_password.polici_block label:before {
  left: -26px;
  top: 2px;
}

.forgot_pass {
  position: absolute;
  right: 0;
  top: 0;
}

.pass_link {
  font-weight: bold;
  font-size: 15px;
  color: red;
}

.login_btn {
  width: 77px;
  height: 36px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 2px;
}
