.order_ok {
  letter-spacing: -0.015em;
  color: #383838;
  font-family: 'PT Sans Caption';

  & .title_page {
    font-weight: 700;
    font-size: 24px;
    line-height: 85.69%;
    margin-bottom: 100px;
  }

  & .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    margin: 0;
    margin-bottom: 13px;
  }

  & .text {
    margin: 0;
    font-size: 16px;
    line-height: 120%;

    text-align: center;
    max-width: 610px;

    margin-left: auto;
    margin-right: auto;
  }
}

.main_block {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 83px;
}

.nav_bar {
  display: none;
  margin-top: 34px;
}

@media screen and (min-width: 768px) {
  .order_ok {
    min-height: 768px;

    & .title_page {
      font-size: 30px;
      margin-top: 34px;
      margin-bottom: 90px;
    }

    & .header_icon_svg {
      display: none;
    }

    & .text {
      font-size: 18px;
      margin-bottom: 30px;
    }

    & .title {
      font-size: 30px;
      line-height: 85.69%;
      margin-bottom: 16px;
    }

    & .nav_bar {
      display: block;
      margin-top: 34px;

      & span {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

        color: #545151;

        opacity: 0.5;
      }
    }
  }
}

@media screen and (min-width: 1320px) {
  .order_ok {
    min-height: 768px;

    & .title_page {
      font-size: 34px;
      margin-bottom: 129px;
    }

    & .text {
      font-size: 26px;
      max-width: none;
      margin-bottom: 37px;
    }

    & .title {
      font-size: 34px;
      margin-bottom: 23px;
    }
  }
}
